/* body */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-size: 10px;
  height: 100vh;
  /* overflow-y: hidden; */
}

.container {
  background-color: #dcf2f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  /* Ensure full viewport height */
}

.home-container {
  background-color: #dcf2f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dash-svg {
  position: absolute;
  width: 100%;
  height: 100vh !important;
  z-index: 1;
}

.sub-container {
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 2;
}

h2 {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: clamp(30px, 8vw, 54px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: #000;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: clamp(20px, 6vw, 34px);
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  /* 182.979% */
}

.logo-img {
  width: clamp(150px, 10vw, 240px);
}

.cta-btn {
  width: clamp(300px, 8vw, 350px);
  height: 80px;
  border-radius: 50px;
  border: none;
  background: #0b4f73;
  color: #fff;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cta-btn:hover {
  background: #000000;
  color: #fff;
}

.flex-end {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.gender-slect {
  display: flex;
  align-items: end;
  height: 100%;
  justify-content: center;
}

.gender {
  width: clamp(300px, 30vw, 540px);
  /* height: 60vh; */
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.gender:hover {
  scale: 1.02;
}

.btn-next {
  width: 276px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 5px solid #0b4f73;
  color: #0b4f73;
  background-color: transparent;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin-top: 20px;
}

.dark {
  background-color: #000;
  color: #fff;
}

.checked {
  background-color: black;
  color: white;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.female-gender-select {
  flex-direction: row-reverse;
}

.gender-img {
  /* width: 1000px; */

  width: clamp(400px, 40vw, 600px);
}

.long {
  width: 500px;
}

@media (max-width: 1200px) {
  h2 {
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h3 {
    color: #000;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 20px;
    font-style: normal;
    line-height: 36px;
    /* 182.979% */
  }

  .gender {
    width: 500px;
    height: 500px;
  }
}

.form-male {
  margin-bottom: 100px;
}

@media (max-height: 900px) {
  .sub-container {
    min-height: 800px;
  }
}


@media (max-width: 1024px) {
  .gender {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 824px) {
  .gender-slect2 {
    flex-direction: column-reverse;
  }

  .gender {
    width: 300px;
    height: 300px;
  }

  .cta-btn {
    width: 270px;
    height: 80px;
    border-radius: 30px;
    font-size: 25px;
  }

  .gender-img {
    width: 300px;
    margin-left: 0;

  }

  .gender-slect {
    align-items: center;
    justify-content: flex-start;
  }

  .form-male {
    margin-bottom: 0;
  }

  .sub-container {
    gap: 0;
  }

  h2 {
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h3 {
    color: #000;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 20px;
    font-style: normal;
    line-height: 36px;
    /* 182.979% */
  }

}

@media (max-width: 624px) {

  .gender {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 502px) {
  .gender {
    width: 200px;
  }

}

@media (max-width: 405px) {
  .gender {
    width: 50vw;
  }

  .gender-h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .btn-next {
    height: 60px;
    border-radius: 10px;
  }

  .gender-img {
    width: 200px;
  }

  .form-male {
    margin-bottom: 0;
  }

  .gender-slect {
    align-items: center;
  }

  .cta-btn {
    height: 60px;
    border-radius: 10px;
  }

  .gender-h3 {
    font-size: 22px;
  }

  .sub-container {
    gap: 0;
  }

  .logo-img {
    width: 100px;
  }

}